@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

/* layout */
header .max-width,
footer .max-width {
  width: 950px;
  margin: 0 auto;
}
body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* header */
header {
  height: 130px;
  width: 100%;
  line-height: 120px;
  background-color: #00bbb6;
  color: white;
  letter-spacing: 2px;
}

/* section */
section {
  margin: 50px 0 50px 0;
}
.container {
  width: 383px;
  margin: 0 auto;
  letter-spacing: 1px;
}
.weather-input {
  margin-bottom: 50px;
  position: relative;
}
input {
  width: 306px;
  margin-right: -3px;
  border-radius: 5px 0 0 5px;
}
input::placeholder {
  opacity: 0.4;
  letter-spacing: 1px;
}
input,
button {
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}
input:focus,
button:focus {
  outline: none;
}
button {
  color: #494949;
  text-decoration: none;
  background: #ffffff;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 0 5px 5px 0;
}
button:hover {
  color: #ffffff;
  background: #1a95ee;
  border-color: #1a95ee;
  transition: all 0.4s ease 0s;
}
.weather-content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
}
.weather-content .column:first-child {
  text-align: center;
  margin: auto 0;
  width: 45%;
  padding-left: 20px;
}
.weather-content .column:last-child {
  padding: 20px 0;
  width: 55%;
}
.weather-content img {
  height: 70px;
  width: 70px;
}
#temp {
  cursor: pointer;
}
.validation-box {
  height: 45px;
  width: 220px;
  background-color: rgba(197, 18, 68, 1);
  text-align: center;
  line-height: 45px;
  border-radius: 2px;
  color: white;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 9999;
  display: none;
}
.validation-box::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background-color: rgba(197, 18, 68, 1);
  transform: rotate(45deg);
  position: absolute;
  top: -10px;
  left: 40px;
  z-index: -1;
}
.disabled {
  display: none;
}
.enabled {
  display: block;
}
.validation-border {
  border-color: rgba(197, 18, 68, 0.7);
}

/* footer */
footer {
  height: 110px;
  width: 100%;
  line-height: 110px;
  background-color: #f5f4f6;
}
footer a {
  float: right;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-decoration: none;
}
